{% extends 'base/base.html' %}

{% block script %}
<title>รายละเอียดร้านอาหาร</title>
{% endblock %}

{% block content %}
<div id="app1">
    <div class="container">
        <form method='POST' action='/borrow/add_cart'>
            {% csrf_token %}
            {% for message in messages %}
            <label style="color: red;"><i>{{message}}</i></label>
            {% endfor %}

            <div>
                <div class="row">
                    {% for item in item_list %}
                    <div class="col-md-3">
                        <div class="card my-3">
                            {% if item.item_image %}
                            <img src="{{item.item_image.url}}" class="card-img-top img-fluid"> {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">
                                    <input type="checkbox" name="item" value="{{item.id}}"> {{item.item_name}}
                                </h5>
                                <p>จำนวนคนตอนนี้: {{item.current_amount}}/{{item.item_amount}} คน</p>
<!--                                <p>เบอร์โทรติดต่อ: {{borrow.borrows.status}}</p>-->
                                {% if item.reserve_status == '02' %}
                                คนเกินแล้วค่า
                                {% else %}
                                <br>
                                {% endif %}

                                <center><button class="button btn btn-primary" type="submit" name="addcart" value="borrow">จองที่</button></center>

                                <!--<button class="btn btn-primary">Go to my page</button>-->
                                <!---<button class="btn btn-primary">-->
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div><br>
        </form>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.22/dist/vue.js"></script>
{% endblock %}
